* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to bottom, #111, #222);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.screen {
  text-align: center;
}

.hidden {
  display: none;
}

button {
  padding: 15px 40px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

/* GAME AREA */
.game {
  width: 800px;
  height: 300px;
  background: #333;
  border: 4px solid white;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
}

.score {
  font-size: 20px;
  margin-bottom: 10px;
}

/* DINO */
#dino {
  position: absolute;
  bottom: 20px;
  right: 100px;
  font-size: 50px;
}

/* CACTUS */
#cactus {
  position: absolute;
  bottom: 20px;
  left: -50px;
  font-size: 40px;
}

/* JUMP */
.jump {
  animation: jump 0.5s ease;
}

@keyframes jump {
  0% { bottom: 20px; }
  50% { bottom: 130px; }
  100% { bottom: 20px; }
}

.jump-btn {
  padding: 12px 30px;
  font-size: 18px;
}
